<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="SauceDemo Test Suite">
    <test name="Initial Tests">
        <classes>
            <class name="com.balbina.automationworkshop.CheckoutFormTest" />
            <class name="com.balbina.automationworkshop.LoginTest" />
            <class name="com.balbina.automationworkshop.ShoppingCartIconBehaviorTest" />
            <class name="com.balbina.automationworkshop.SortTest" />
        </classes>
    </test>
</suite>